.BasicInfo{
 background-color: #4c3666;
 color:white;
 padding:10px;
 border-radius:10px;
 
    box-shadow: 2px 8px 10px rgba(0,0,0, 0.5);
}

.BasicInfoTitle{
    margin-left: 20px;
    font-size: 133%;
}

.CodeSnippet{
    background-color: #013f09;
    color:#04af1b;
    margin: 0px 10px 10px 10px;
    padding:10px;
    border-radius:10px;
}