.AboutBanner{
    display: grid;
    grid-template-areas:
        "AboutTitle CodeBlock"
        "Description CodeBlock";
    grid-template-columns: 1fr 1fr;
    padding:20px;
    max-height: 80vh;
}

.AboutTitle{
    font-family: 'Bitcount', sans-serif;
    font-size: 250%;
}

.CodeBlock{
    margin:10px;
    max-width: 50vw;
}

.Description{
    position: relative;
    bottom: 45vh;
}