@import './themes.css';

@font-face {
  font-family: 'Bitcount';
  src: url(../../fonts/Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mainPage {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color:var(--text-primary);
  background-image: url('../../assets/backgroundShape.svg');
  background-repeat: repeat;
  background-size: 250px 250px;
}

.app {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}


