@import './themes.css';

@font-face {
  font-family: 'Bitcount';
  src: url(../../fonts/Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mainPage {
  min-height: 100vh;
  height: 100% !important;
  background-color: var(--bg-primary);
  color:var(--text-primary);
  background-image: var(--bg);
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

