.contactBanner {
    display: grid;
    grid-template-areas:
        "ContactTile"
        "ContactList";
    grid-template-columns: 1fr;
    padding: 20px;
}

.contactTitle {
    font-family: 'BitCount', 'sans-serif';
    font-size: 250%;
    grid-area: ContactTile;
}

.contactList {
    grid-area: ContactList;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

@media (max-width: 700px) {
    .contactBanner {
        padding: 15px 10px;
        gap: 15px;
    }
    
    .contactTitle {
        font-size: 12vw;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .contactList {
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0 auto;
    }
}