.JobEntry{
    background-color: #4c3666;
    color:#ddc0fa;
    border-radius: 20px;
    box-shadow: 2px 8px 10px rgba(0,0,0, 0.5);
    padding: 0px 0px 15px 15px;
    margin:20px;
}

.PositionName{
    font-size: 110%;
}

.Details{
}

.JobDescription{
}