.NavBar{
  background-color: #4c3666;
  color: #fff;
  display: flex;
  gap:  0;
  align-items: center;
  height: 8vh;
}

.NavBar button {
  font-family: 'Bitcount', sans-serif;
  color: #fff;
  background: transparent;
  border: none;
  padding: 1rem 1rem;
  transition: background 0.2s;
}

.active-tab {
  background-color: #00c9aa !important;
  color : #4c3666 !important;
  font-size: 1.5rem !important;
  height: 8vh;
}

.not-active-tab{
  font-size: 1.1rem !important;
}