.WelcomeBanner {
    font-family: 'Bitcount', sans-serif;
    display: grid;
    grid-template-areas:
        "WelcomeTitle ImageSubtitleWrapper"
        "Content ImageSubtitleWrapper";
    padding:20px;
}

.WelcomeTitle {
    font-size: 7vw;
    padding-left: 50px;
    padding-top: 50px;
}

.ImageSubtitleWrapper {
    width: 80%;
}

.Content {
    font-size: 2vw;
    position:relative;
    bottom:200%;
    padding-left: 50px;
    text-align: center;
}

.SubtitleShape {
    background-color: #00c9aa;
    border-radius: 20px;
    margin:0;
    position: relative;
    bottom: 5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.Subtitle {
    color: #4c3666;
    margin: 0px;
    padding: 10px;
    font-size: 120%;
    text-align: center;
}

@media (max-width: 700px){

    .WelcomeBanner{
        grid-template-areas:
        "WelcomeTitle"
        "ImageSubtitleWrapper"
        "Content";
        align-items: center;
    }

    .WelcomeTitle{
        font-size: 12vw;
        padding-left: 20px;
    }

    .ImageSubtitleWrapper {
        position: relative;
        left: 10%;
    }

    .SubtitleShape {
        bottom: 3rem;
    }


    .Content{
        font-size: 4vw;
        padding-left: 0px;
        bottom:0%;
    }

}