.WorkBanner{
    display: grid;
    grid-template-columns: auto auto;
    padding:20px;
    max-height: 80vh;
}

.WorkTitle{
  font-family: 'Bitcount', sans-serif;
}

.briefcaseIcon{
  scale: 2000%;
  position: relative;
  left:20vw;
  bottom:30vh;
}