.WorkBanner{
    display: grid;
    grid-template-areas:
      "WorkTitle JobList"
      "brifcaseIcon JobList";
    padding:20px;
    max-height: 80vh;
}

.WorkTitle{
  font-family: 'Bitcount', sans-serif;
    font-size: 250%;
}

.briefcaseIcon{
  scale: 2000%;
  position: relative;
  left:20vw;
  bottom:20vh;
}
